pip
autopep8
Flask==3.0.3
gunicorn==22.0.0
Werkzeug==3.0.3
flask-cors
python-dotenv
flask-restful
langchain
pymongo
bs4
google.generativeai
tiktoken
gradio
requests
lxml
argparse
unstructured
langchain-google-genai
langchain-google-vertexai
langchain-mongodb
langchain-community
langgraph
certifi
pypdf
gunicorn
pandas
python-docx
inscriptis
beautifulsoup4
google-auth
tqdm